* { padding: 0; margin: 0; }

html { font-family: Arial; font-size: 15px; color: black; background: white; display: flex; justify-content: center; }

body { display: flex; flex-direction: column; align-items: center; border-radius: 2px; background: #73AD21; width: 800px; }

.title { margin: 25px; display: grid; grid-template-columns: 800px; grid-template-rows: 50px 50px; }
.title h1 { grid-row: 1 / 2; display: flex; }
.title h3 { grid-row: 2 / 2; display: flex; }

.title h1, h3, .links a { align-items: center; justify-content: center; }

.links { margin: 25px; display: grid; grid-template-columns: 150px 150px 150px; grid-template-rows: 100px 100px; gap: 20px; grid-auto-flow: column; }
.links a { display: flex; border-radius: 5px; text-decoration: none; font-size: 20px; color: #73AD21; background-color: black; }
.links a:hover { background-color: white; }